<!DOCTYPE html>
<html>
  <head>
    <title><%= settings.title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="/stylesheets/base.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/javascripts/globals.js"></script>
    <!--<script type="text/javascript" src="/socket.io/socket.io.js"></script>-->
    <script>
      /*
      var socket = io.connect();
      socket.on('message', function(time) {
        document.getElementById('time').innerHTML = time;
      });
      */
    </script>
  </head>
  <body>
    <h1><%= settings.title %></h1>
  </body>
</html>

