<!DOCTYPE html>
html
  head
    block title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    link(href='/stylesheets/base.css', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='/javascripts/jquery-2.1.0.min.js')
    script(type='text/javascript', src='/javascripts/globals.js')
  body
    block content
